* {
    font-family: 'helvetica', 'sans-serif';
    padding: 0%;
    margin: 0%;
    color: white;
}

body {
    background-color: rgb(236, 236, 236); 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 3%;
    background-color: rgb(116, 188, 230);
}

/* Styling for Background Image */
.skyline {
    display: flex;
    flex-direction: column;
}  

/* Footer Styling */
footer {
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
}

/* Profile Picture Styling */
.profile img {
    height: 200px;
    width: 175px;
    padding: 20px;
    position: absolute;
} 

/* Project List Styling */
.projects {
    flex: 5;
    padding: 15px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: baseline;
}

.label {
    border-style: groove;
    border-width: .25px;
    padding: 1.5px;
    flex: 0 0 300px;
    box-shadow: 5px 5px 2px gray;
    margin: 20px;
}

.label header {
    padding: 10px;
    width: 300px;
}

.label img {
    width: 100%;
}

.label p {
    text-align: center;    
}

/* About Me Text Styling */
p {
    font-size: 20px;
    color: black;
}

/* Styling for large application */
.label2 {
    border-style: groove;
    border-width: .25px;
    padding: 2.5px;
    flex: 0 0 5px;
    box-shadow: 5px 5px 2px gray;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.label2 header {
    padding: 10px;
    width: 800px;
}

.label2 img {
    width: 800px;
    height: 375px;
}

.label2 p {
    text-align: center;    
}


/* Headings */
h1 {
    font-size: 220%;
}

h2 {
    font-size: 175%;
    background-color: rgb(116, 188, 230);
    display: flex;
    flex-wrap: wrap;
}

/* Navbar */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    list-style-type: none;
}

.li:hover {
    text-decoration: underline gray;
}

nav a {
    text-decoration: none; 
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 22px;
}  

a:hover {
    text-decoration: underline;
}

/* Hover Functions for Applications */
.label:hover{
    box-shadow: 3px 3px 2px blue;
}

.label2:hover{
    box-shadow: 3px 3px 2px blue;
}

/* Styling for Contact Info */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1%;
    background-color: rgb(116, 188, 230);
}

@media screen and (max-width: 480px) {
    body {
        font-size: 5px;
    }
    h1 {
        text-align: center;
        font-size: 25px;
    }
    .profile img {
        height: 50px;
        width: 40px;
    }
}

@media screen and (max-width: 1020px) {
    body {
        font-size: 12px;
    }
    h1 {
        text-align: center;
        font-size: 25px;
    }
    .profile img {
        height: 100px;
        width: 80px;
    }
}